.style-container {
	background-color: white;
}

.page-header {
	margin-top: 10%;
}


@keyframes slider {

	0% {
		Left: 0;
	}

	20% {
		Left: 0;
	}

	25% {
		Left: -100%;
	}

	45% {
		Left: -100%;
	}

	50% {
		Left: -200%;
	}

	70% {
		Left: -200%;
	}

	75% {
		Left: -300%;
	}

	95% {
		Left: -300%;
	}

	100% {
		Left: -400%;
	}
}

.slider {
	over: hidden;
}
.slider figure img {
	width: 10%;
	float: left;
}

.slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 20s slider infinite;
}


.slider-container {
	max-width: 980px; 
	margin: auto;
	position: relative;
}

.icon {
	width:25px;
	line-height: 40px;
	background: black;
	color: white;
	text-align: center;
}

.left {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%, -50%);
}

.right {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0%, -50%);
}

#content-wrap {
	background-color: white;
	padding: 15px;
}


h1 {
    font-size: 2.5em;
    letter-spacing: 0.15em;
    text-shadow: -2px 2px 0 #ccddeb;
    text-transform: uppercase;
}

h1, h2 {
    font-family: "gentona",Arial,Helvetica,sans-serif;
    color: #00529b;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.7em;
    text-transform: uppercase;
}

#register {
    background-color: #666;
    background-image: none;
    border-radius: 0px;
    border: 10px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: normal;
    padding: 13px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    zoom: 1;
	position:relative;
    float:right;

}

.aboutustxtbox {
	margin-top: 15px;
	border-radius: 5px;
	background: #EAEAEA;
	padding: 10px;
	height: 585px;
	border: 8px solid #FF9912;
}

.aboutustxtbox p {
	font-size: 20px;

}

.aboutustxtbox li {
	font-size: 18px;
}

.about-img {

}