/*  map, div[map] {display:block; width:600px; height:400px;}*/

#map {
	height: 650px;
	width: 1100px;
	overflow:visible;
	
}

ng-map {width: 1100px; height:550px;position: absolute;overflow:visible;}

@media (max-width: 800px) { 
  	ng-map {width: 300px; height:550px;position: absolute;overflow:visible;}
  	#map {width: 300px; height:550px;position: absolute;overflow:visible;}
}


#filtering {
	height: 175px;
	width: 200px;
	position:relative;
	margin-top: 5px;
	margin-right: 5px;
    float:right;
    background-color: white;
    outline-width: 1px;
    outline-color: black;
    border-radius: 7px;
}

#filtering-2{
	margin-top: 5px;
	margin-left: 10px;
}

#buttondropdown {
	border: 1px solid rgba(0, 0, 0, 0.14902);
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	font-size: 12px !important;
	font-family: "Roboto", Arial, sans-serif;
	height: 25px;
	width: 50px;
	position:relative;
	margin-top: 10px;
	margin-right: 10px;
    float:right;
    background-color: white;
    outline-width: 1px;
    outline-color: black;
}

#filtering, .subscribe:hover>button {
	display: none;
}
.subscribe:hover>#filtering {
	display: block;
}

