<!DOCTYPE html>
<html lang="en">
<div class="back">
<!-- Required meta tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

<div class="home">
  <!--https://www-cdn.jtvnw.net/images/twitch_logo3.jpg-->
<div class="slides">
  <div ng-controller="HomeController">
      <div style="height: 305px">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
          <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
              <h4>Slide {{slide.id}}</h4>
              <p>{{slide.text}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!--<button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>-->
          <!--<button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>-->
          <div class="checkbox">
            <label>
              <!--<input type="checkbox" ng-model="noWrapSlides">
              Disable Slide Looping-->
            </label>
          </div>
        </div>
        <!--<div class="col-md-6">
          Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
          <br />Enter a negative number or 0 to stop the interval.
        </div>-->
      </div>
    </div>
  </div>


  <div class="info">
    <h4>
      <p align="left"><strong>About the Center:</strong></p>
    </h4>
    <h5>
      <p align="left">The Transportation Safety Center (TSC) provides a foundation and mechanism to facilitate the development of sustainable
        systems to improve highway safety and achieve the goal of zero deaths on Florida’s roads.</p>
    </h5>
    <h5>
      <p align="left">The TSC was establish to promote the highway safety initiatives through applied and theoretical safety-related research
        projects; workforce development and training of current transportation professionals; academic program enhancements
        for college-attending students in transportation and safety-related disciplines; technical assistance about practical
        application of effective infrastructure and non-infrastructure safety countermeasures; collaboration with state and
        local highway safety professionals to address prioritized safety areas through coalitions; outreach to local government
        municipalities to promote funding programs that utilizes federal-aid funds for safety improvements on locally owned
        and maintained roads; and knowledge transfer support through technology to build a comprehensive program serving
        more stakeholders and customers.</p>
    </h5>
  </div>
</div>
</div>

</html>
