
<div id="content-wrap">
<section>
  <div class="page-header">
    <h1>
    	<span>Trainings</span>
    	
		<!-- Button to redirect to the link to register for classes through the T2 center- can change link-->
    	<button id="register" onclick="window.open('https://xms.dce.ufl.edu/reg/groups/FT/');">Register Now</button>
    </h1>
  </div>


	<!-- This holds the div which contains the google calendar- displaing events with the account given in the dcoumentation (can change events and calednar info later) -->
  <div>
		<iframe src="https://calendar.google.com/calendar/embed?src=tscuf2017%40gmail.com&ctz=America/New_York" style="border-width:0" width="1100" height="600" frameborder="0" scrolling="no"></iframe>
  </div>


</section>
</div>

