<div id="content-wrap">
<section>
<div class="style-container">

  <div class="page-header">
   
    <h1>About Us</h1>
    
  </div>

  <img src="https://www.fhwa.dot.gov/innovation/everydaycounts/edc-2/images/banner-intersection-interchange-geometrics.jpg" style="width: 100%">


  <div class="list-group">
    <a ng-repeat="aboutu in vm.aboutus"
       ui-sref="aboutus.view({ aboutuId: aboutu._id })"
       class="list-group-item"></a>
    </a>

      <div class="row">

          <div class="col-md-4">
          <div class="txtbox">
            <h2><strong>Our Focus</strong></h2>
            <p>The focus of TSC is on safety-related research, training, and outreach that has increased over the past five years as the FDOT has affirmed its commitment to reducing the number of highway crashes which result in fatalities and serious injuries in the state. This commitment and attention resulted in the development of a State Strategy on Highway Safety -Destination Zero Deaths (DZD) which is congruent with the National Towards Zero Deaths Strategy.</p>
            </div>
          </div>
          <div class="col-md-4">
          <div class="txtbox">
            <h2><strong>Our History</strong></h2>
            <p>TSC established in 2015 and is housed with the Technology and Transfer Center (T2 Center) at the University of Florida. The TSC resides under the umbrella of the University of Florida Transportation Institute (UFTI). TSC leverages its position to provide access to academic partners and training facilities and enables coordination of safety research, workforce development, and stakeholder outreach across the many entities involved in the Florida Strategic Highway Safety Plan (SHSP). TSC is funded by the FDOT. </p>
            </div>
          </div>
          <div class="col-md-4">
          <div class="txtbox">
            <h2><strong>Our Plans</strong></h2>
            <p>The TSC plans to build on the successes of the Local Technical Assistance Program (LTAP). There are four major initiatives managed through the Safety Center:
            <ul>
            <li>Safety research development and implementation</li>
           
            <li>Workforce development, including academic training, workforce training, professional development, technical assistance, and knowledge transfer resources</li>
           
            <li>Local road safety program outreach and application submission support</li>
            
            <li>Coordination of SHSP/DZD activities</li>
            </ul>
            </p>
            </div>
          </div>

     </div>
  </div>
</div>
</section>
</div>