/*  map, div[map] {display:block; width:600px; height:400px;}*/

#map {
	height: 650px;
	width: 1100px;
	overflow:visible;
}

ng-map {width: 1100px; height:550px;position: absolute;overflow:visible;}

@media only screen 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  	ng-map {width: 300px; height:550px;position: absolute;overflow:visible;}

}


#filtering {

	height: 200px;
	width: 200px;
	position:relative;
	margin-top: 75px;
	margin-left: 10px;
    float:left;

}

