#content-wrap {
	background-color: white;
	padding: 15px;
}

.contactTextBox {
	margin-top: 15px;
	border-radius: 5px;
	background: #EAEAEA;
	padding: 10px;
	height: 50px;
	border: 1px solid #6495ED;
}
