#content-wrap {
	background-color: white;
	padding: 15px;
}

.contactTextBox {
	margin-top: 15px;
	border-radius: 5px;
	background: #EAEAEA;
	padding: 10px;
	height: 195px;
	border: 2px solid #00529b;
}

.contactTextBox p {
	font-size: 20px;

}

.img-style {
	border-radius: 10px;
}