
<div id="content-wrap">
<section>
  <div class="page-header">
    <h1>
      <span>Resources</span>
    </h1>
  </div>

  <div>

<!-- Contains each of the boxes for each category of links - can edit these links and info here -->
      <div class="row">

          <div class="col-md-6">
          <div class="txtbox">
            <h2><strong>Federal Safety Resources</strong></h2>
            <ul>
              <!-- Each of the Federal Safety Resources Links are here for editing -->
              <li><a href="http://safety.fhwa.dot.gov/"><strong>Federal Highway Administration (FHWA) Safety</strong></a> </li>
              <li><a href=" http://www.nhtsa.gov/"><strong>National Highway Traffic Safety Administration</strong></a></li>
              <li><a href="http://onlinepubs.trb.org/onlinepubs/nchrp/nchrp_rpt_811.pdf"><strong>NCHRP Report 811: Institutionalizing Safety in Transportation Planning Processes</strong></a></li>
              <li><a href="http://www.nhtsa.gov/staticfiles/nti/pdf/811727.pdf"><strong>Countermeasures That Work: A Highway Safety Countermeasure Guide for State Highway Safety Offices</strong></a></li>
              <li><a href="http://www.trafficsafetymarketing.gov/"><strong>Traffic Safety Marketing</strong></a></li>
            </ul>
          </div>
          </div>

          <div class="col-md-6">
          <div class="txtbox">
            <h2><strong>Local Road Safety</strong></h2>
            <ul>
               <!-- Each of the Local Road Safety Resources Links are here for editing -->
              <li><a href="https://www.youtube.com/watch?v=HVzS-VkABPE"><strong>High Friction Surface Treatment Video</strong></a></li>
              <li><a href="http://safety.fhwa.dot.gov/tools/crf/resources/briefs/pedissuebrief.cfm"><strong>Toolbox of Countermeasures and Their Potential Effectiveness for Pedestrian Crashes</strong></a></li>
              <li><a href="http://safety.fhwa.dot.gov/tools/crf/resources/briefs/rdwydepartissue.cfm"><strong>Toolbox of Countermeasures and Their Potential Effectiveness for Roadway Departure Crashes</strong></a></li>
              <li><a href="http://safety.fhwa.dot.gov/local_rural/training/fhwasa1109/sec_1.cfm"><strong>Roadway Departure Safety: A Manual for Local Rural Road Owners</strong></a></li>
              <li><a href="http://safety.fhwa.dot.gov/roadway_dept/strat_approach/fhwasa07001/exec_summary.cfm"><strong>Good Practices: Incorporating Safety into Resurfacing and Restoration Projects</strong></a></li>
              <li><a href="http://safety.fhwa.dot.gov/hsip/hrrr/manual/"><strong>Manual for Selecting Safety Improvements on High Risk Rural Roads</strong></a></li>
            </ul>
            </div>
          </div>

          <div class="col-md-6">
          <div class="txtbox">
            <h2><strong>State Safety Resources</strong></h2>
            <ul>
               <!-- Each of the State Safety Resources Links are here for editing: TBD right now so add an li for each link to add like above -->
              <li><strong>TBD</strong></li>
            </ul>
            </div>
          </div>

          <div class="col-md-6">
          <div class="txtbox">
            <h2><strong>Safety Research</strong></h2>
            <ul>
               <!-- Each of the Safety Research Links are here for editing/adding -->
              <li><a href="http://research.transportation.org/Pages/default.aspx"><strong>American Association of State Highway and Transportation Officials (AASHTO) Standing Committee on Research (SCOR) and its Research Advisory Committee (RAC)</strong></a></li>
              <li><a href="http://www.ltrc.lsu.edu/stc/"><strong>Southeast Transportation Consortium</strong></a></li>
              <li><a href="http://onlinepubs.trb.org/onlinepubs/nchrp/nchrp_rpt_622.pdf"><strong>NCHRP Report 622: Effectiveness of Behavioral Highway Safety Countermeasures</strong></a></li>
            </ul>
            </div>
          </div>

     </div>


  </div>
</section>
</div>
