<div id="content-wrap">
<section>
  <div class="page-header">
    <h1>Contact Us</h1>

  </div>

  <img src="https://www.fhwa.dot.gov/innovation/everydaycounts/edc-2/images/banner-intersection-interchange-geometrics.jpg" style="width: 100%">

  <div class="list-group">
    <a ng-repeat="contactu in vm.contactus"
       ui-sref="contactus.view({ contactuId: contactu._id })"
       class="list-group-item"> </a>

          <div class="row">

              <div class="col-md-4">
              <div class="txtbox2">
                <h2><strong>How to Find US</strong></h2>
                <h5>The TSC is located within the Florida T2 Center, which is located at the University of Florida's East Campus</h5>
                </div>
              </div>
              <div class="col-md-4">
              <div class="txtbox2">
                <h2><strong>Address</strong></h2>
                <h5>2100 NE Waldo Road, Suite 106, Gainesville, FL 32609</h5>
                </div>
              </div>
                <div class="col-md-4">
                <div class="txtbox2">
                <h2><strong>Contact Info</strong></h2>
                <h5>352.273.1670 (o)</h5>
                <h5>352.392.3224 (f)</h5>
                </div>

                </div>
          </div>



</section>
</div>