

h1 {
    font-size: 2.5em;
    letter-spacing: 0.15em;
    text-shadow: -2px 2px 0 #ccddeb;
    text-transform: uppercase;
}

h1, h2 {
    font-family: "gentona",Arial,Helvetica,sans-serif;
    color: #00529b;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.7em;
    text-transform: uppercase;
}

#content-wrap {
    background-color: white;
    padding: 15px;
}

section{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#register {
    background-color: #666;
    background-image: none;
    border-radius: 0px;
    border: 10px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: normal;
    padding: 13px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    zoom: 1;
	position:relative;
    float:right;

}

.txtbox {
    margin-top: 15px;
    border-radius: 5px;
    background: #EAEAEA;
    padding: 10px;
    height: 395px;
    border: 1px solid #6495ED;
}


