.info{
  border-radius: 25px;
  box-shadow: 10px 10px 10px #000000;
  color: white;
  padding: 20px;
  background: #839EA7;
  width: 100%;
  min-height: 100%;
  margin: 0 0 0 0;
  position: relative;
}

.home{
  
  width: 70%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.back{
  background: white;
  padding: 15px;
}
.slides{
margin-top: 30%;
}





.content {
  margin-top: 50px;
  background-color: #dcdcdc;
  border-top: 5px;
  border-top-color: white;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}


.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px;
  padding-top: 11px;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}


.nav-style {
  background-color: #00529b;
  color: white;
  padding: 0px;
}

.logo-style {
  background-color: white;
  padding: 10px;
  color: #00529b;
  padding-left:100px;
}

.home-style {
 margin-top:15%;
}